@using RO.DevTest.FronEnd.Application.Features.Sales.GetSaleByIdCommand



<div class="card col-md-8">
    <div class="card-header">
        <h5 class="card-text">
            @Item?.ProductName
        </h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>URL Imagem</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Item.ProductDescription</td>
                    <td>@Item.ProductCategory</td>
                    <td>@Item.ProductBrand</td>
                    <td>@Item.ProductImageUrl</td>
                    <td>@Item.Quantity</td>
                    <td>@Item.ProductPrice.ToString("C")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@code {
    [Parameter]
    public SaleItemResponse Item { get; set; }
}
