@page "/editar-venda"
@using FE.Application.Features.Sales.GetSaleByIdCommand
@using FE.Application.Features.Sales.UpdateSaleCommand
@implements IDisposable
@inject IMediator Mediator
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "Admin")]


@if(_editContext is null)
{
    <h4 class="fs-4 text-center">Carregando dados. Por favor, aguarde...</h4>
}
else 
{
    <EditForm EditContext="_editContext" OnValidSubmit="EnviarVenda">
        <AntiforgeryToken />
        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Descrição</label>
            <div class="col-md-6">
                <InputTextArea @bind-Value="request!.Observatin" class="form-control" />
                <ValidationMessage For="() => request.Observatin" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade de produtos:</label>
            <div class="col-md-6">
                <input type="text" value="@Quantidade" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade total de itens:</label>
            <div class="col-md-6">
                <input type="text" value="@request.Itens.Sum(i => i.Quantity)" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Valor</label>
            <div class="col-md-6">
                <input type="text" value="@request.Price.ToString("C")" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Desconto:</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="request.Descount" class="form-control" />
                <ValidationMessage For="() => request.Descount" />
            </div>
        </div>

        <div class="form-group row my-2 col-md-8 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome Produto</th>
                        <th>Quantidade</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var prod in request.Itens)
                    {
                        <tr>
                            <td>@prod.ProductName</td>
                            <td>@prod.Quantity</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-success" @onclick="@(() => AdicionarItem(prod))">+</button>
                                <button type="button" class="btn btn-sm btn-danger" @onclick="@(() => RemoverItem(prod))">-</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-row justify-content-center align-content-center">
            <button type="submit" class="btn btn-sm btn-primary">Atualizar Venda</button>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid Id { get; set; }

    private EditContext? _editContext;
    private ValidationMessageStore? messageStore;
    private UpdateSaleRequest? request;
    private int Quantidade => request?.Itens.Count() ?? 0;

    protected override async Task OnInitializedAsync()
    {
        var venda = await Mediator.Send(new GetSaleDetailByIdRequest(Id));
        request = new();
        request.Id = venda.Id;
        request.Observatin = venda.Observatin;
        request.Descount = venda.Descount;
        request.Price = venda.Price;
        request.Itens = venda.Itens.Select(i => new SaleItemUpdate() { Id = i.ProductId, Quantity = i.Quantity, ProductName = i.ProductName, ProductPrice = i.ProductPrice }).ToList();
        _editContext = new(request);
        _editContext.OnValidationRequested += HandleValidation;
        messageStore = new(_editContext);
        await base.OnInitializedAsync();
    }

    public async Task EnviarVenda()
    {
        if (request is null)
            return;

        var resultado = await Mediator.Send(request);

        if (resultado is not null && resultado.SaleIdUpdated != Guid.Empty)
            NavManager.NavigateTo($"vendas-detalhes?id={resultado.SaleIdUpdated}");
    }

    private void HandleValidation(object? sender, ValidationRequestedEventArgs args)
    {
        // messageStore?.Clear();
        // if (quantidade > StockQuantity)
        //     messageStore?.Add(() => quantidade, "Quantidade indisponível em estoque. Selecione um valor menor.");

        // if (request?.Price <= 0.0M)
        //     messageStore?.Add(() => request.Price, "Valor inválido calculado. Tente remover e adicionar um item novamente.");

        // if (request?.Descount < 0.0M)
        //     messageStore?.Add(() => request.Descount, "Valor de desconto não pode ser menor que zero.");
    }

    private void RemoverItem(SaleItemUpdate itemUpdate)
    {
        if (request is null || request.Itens is null)
            return;
        int idx = request!.Itens.IndexOf(itemUpdate);
        if (idx >= 0) 
        {
            if (request!.Itens[idx].Quantity == 1)
                request!.Itens.RemoveAt(idx);
            else
                request!.Itens[idx].Quantity -= 1;
        }
        RecalcularValorDaVenda();
    }

    private void AdicionarItem(SaleItemUpdate itemUpdate)
    {
        if (request is null || request.Itens is null)
            return;
        int idx = request!.Itens.IndexOf(itemUpdate);
        if (idx >= 0)
        {
            request!.Itens[idx].Quantity += 1;
        }
        RecalcularValorDaVenda();
    }

    public void Dispose()
    {
        if (_editContext is not null)
            _editContext.OnValidationRequested -= HandleValidation;
    }


    private void RecalcularValorDaVenda()
    {
        if (request is null || request.Itens is null)
            return;

        request.Price = request.Itens.Sum(i => i.Quantity * i.ProductPrice);
    }
}
