@page "/editar-venda"

@attribute [Authorize(Roles = "Admin")]

@if (_carregando)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_carregando" />
}
else if (_erroAoCarregarDados)
{
    <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Não foi possivel carregar os dados para edição. Tente novamente." />
    <BotaoTentarNovamente TentarNovamente="@(async () => await CarregaDadosVendaParaEdicao())" />
}
else
{
    @if (_atualizandoVenda)
    {
        <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_atualizandoVenda" />
    }
    else if(_erroAoAtualizar)
    {
        <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Não foi possível atualizar a venda. Revise os dados e tente novamente."></Alerta>
    }

    <h4 class="fs-4 text-center">Editando dados da venda: @_request.Name</h4>

    <EditForm EditContext="_editContext" OnValidSubmit="EnviarVenda">
        <AntiforgeryToken />
        
        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Descrição</label>
            <div class="col-md-6">
                <InputText @bind-Value="_request!.Name" class="form-control" />
                <ValidationMessage For="() => _request.Name" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Descrição</label>
            <div class="col-md-6">
                <InputTextArea @bind-Value="_request!.Observation" class="form-control" />
                <ValidationMessage For="() => _request.Observation" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade de produtos:</label>
            <div class="col-md-6">
                <input type="text" value="@Quantidade" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade total de itens:</label>
            <div class="col-md-6">
                <input type="text" value="@_request.Itens.Sum(i => i.Quantity)" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Valor</label>
            <div class="col-md-6">
                <input type="text" value="@_request.Price.ToString("C")" class="form-control" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Desconto:</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="_request.Descount" class="form-control" />
                <ValidationMessage For="() => _request.Descount" />
            </div>
        </div>

        <div class="form-group row my-2 col-md-8 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 50%;">Nome Produto</th>
                        <th style="width: 20%;">Quantidade</th>
                        <th style="width: 30%;">Adicionar/Remover</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var prod in _request.Itens)
                    {
                        <tr>
                            <td>@prod.ProductName</td>
                            <td>@prod.Quantity</td>
                            <td>
                                <button type="button" class="btn" @onclick="@(() => AdicionarItem(prod))"><i class="bi bi-plus-circle"></i></button>
                                <button type="button" class="btn" @onclick="@(() => RemoverItem(prod))"><i class="bi bi-dash-circle"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-row justify-content-center align-content-center">
            <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy me-2"></i>Salvar Mudanças</button>
        </div>
    </EditForm>
}